html {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.mbottom-0{
    margin-bottom: 0px;
}

.mtop-0{
    margin-top: 0px;
}

.warning{
    text-align: center;
    color: red;
    display: block;
    line-height: 10px;
}

.modal{
    width: 40%;
    height: 62%;
}

.shadow {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.form-error {
    color: red !important;
}
