<ifModule mod_rewrite.c>
	Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /

    RewriteRule ^admin - [L]

	RewriteRule ^logout /controllers/logout.php [L]

	RewriteRule ^account/bad_login index.php?pagina=account&bad_login=true [L]

	RewriteRule account/register$ index.php?pagina=account [L,QSA]

    RewriteRule ^([a-zA-Z]+)$  index.php?pagina=$1 [L]
    RewriteRule ^([a-zA-Z]+)/$ index.php?pagina=$1 [L]

    RewriteRule ^admin/([a-zA-Z]+)$  /admin/index.php?pagina=$1 [L]
    RewriteRule ^admin/([a-zA-Z]+)/$ /admin/index.php?pagina=$1 [L]

    RewriteRule ^admin/news/([0-9]+)$  /admin/index.php?pagina=news&new=$1 [L]
    RewriteRule ^admin/news/delete/([0-9]+)$  /admin/index.php?pagina=news&new=$1&action=true [L]


</ifModule>
