.banner {
    background-attachment: fixed;
    bottom: 0;
    height: 380px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.banner-title {
    background-color: inherit;
    color: #4db6ac;
    text-align: center;
}
