.header {
    background: rgba(255,255,255,0.9);

    &--nav-wrapper {
        height: 100%;
        position: relative;
        margin: 0 auto;
    }

    &--nav-logo {
        color: #4db6ac;
        font-size: 1.2rem;
        position: absolute;
        white-space: nowrap;
        height: 60px;

        &-title {
            font-size: 2.1rem;
        }
    }

    &--nav-list {
        float: right;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
            .dropdown-button{
                i{
                    height: 64px;
                    line-height: 64px;
                }
            }
            .dropdown-content{
                min-width: 350px;
            }
        }
    }

    .margin {
        margin: 20px;
    }
}
