.notice {

    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    height: 355px;
    margin: 0.5rem 0 1rem 0;
    position: relative;
    transition: box-shadow .25s;

    &--image {
        background-color: white;
        line-height: 0;
        max-height: 270px;
        overflow: hidden;
    }

    &--header {

    }

    &--description {

    }
}
