.home {
    &--icon {
        padding: 0 15px;
    }

    &--block {
        min-height: 480px;
        padding: 20px;
    }
}
.proyect {
    width: 90%;

    .logo {
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    .tecnologies {
        margin-top: 50px;

        .tecnologie {
            margin: 20px 0px;
            padding: 10px;

            h5 {
                text-align: center;
                margin-bottom: 20px;
            }

            .image-wrapper{
                height: 115px;

                img {
                    max-width: 200px;
                    margin: 0 auto;
                    display: block;

                    &.smaller {
                        max-width: 150px;
                    }
                }
            }
            p {
                padding: 30px;
                text-align: justify;
            }


        }
    }
}

.justify {
    text-align: justify;
}
